.top-gutter {
    margin-top: 20px;
}

.center {
    text-align: center;
}

#drag-drop-area {
    text-align: center;
}

#drag-drop-area img {
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.1);
}

#drag-drop-area img:hover {
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.2);
}