.top-gutter {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.vertical-space {
    margin-top: 15px;
}

#file-info {
    font-weight: bold;
}

.footer-divider {
    margin-top: 20px;
    margin-bottom: 11px;
}