<form class="needs-validation">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>

                        <input id="email_from" type="email" class="form-control" placeholder="From Email" aria-label="Email" aria-describedby="basic-addon1" autofocus="" required="">

                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>

                        <input id="email_to" type="email" class="form-control" placeholder="To Email" aria-label="Email" aria-describedby="basic-addon1" required="">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="custom-file" class="custom-file">

                        <input id="profile_photo" type="file" class="custom-file-input" aria-label="File" required="">

                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row vertical-space">
        <div class="col-12">
            Selected File: <strong><span id="file-info">N/A</span></strong>
        </div>
    </div>
    <div class="row vertical-space">
        <div class="col-12">
            Sent <strong><span id="data_sent">0</span></strong> out of <strong><span id="file_size">0</span></strong>, which is <strong><span id="percentage">0</span></strong>%
        </div>
    </div>
    <div class="row vertical-space">
        <div class="col-12">
            Upload speed: <strong><span id="speed">0</span></strong>/Bps
        </div>
    </div>
    <div class="row vertical-space">
        <div class="col-12">
            Time left: <strong><span id="time_left">∞</span></strong>/s
        </div>
    </div>
    <div class="row vertical-space">
        <div class="col-12">
            <button id="upload" class="btn btn-lg btn-primary btn-block" type="submit">
                <span id="upload-text">Upload</span>
                <span id="upload-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
            </button>
        </div>
    </div>
</form>

<script>

//
//  Variables used by S3.
//
let file_name = '';
let file_blob = '';

//
//  Initialize file_size, also set the maxUploadTries.
//
let file_size = null;
let maxUploadTries = 10;

//
//  On each multipart upload an upload ID is assigned to the process
//  thus, I keep this ID in a variable to easily pass it in sequential
//  upload_part requests. Also, initialize other parameters
//
let upload_id = null;
let uploaded_yet = 0;
let chunk_size = 5 * 1024 * 1024; // Minimum 10MB per chunk
let start_time = null;
let parts = null;  // Will be initialized as an array to keep track of uploaded parts
let parts_left = null;

//
//  Grab the UI elements used to show the user the progress of the upload.
//
let ui_data_sent = $("#data_sent");
let ui_file_size = $("#file_size");
let ui_percentage = $("#percentage");
let ui_speed = $("#speed");
let ui_time_left = $("#time_left");

//
//  React to the input file field, and save the file reference.
//
$("input:file").change(function(data) {

    //
    //  1.  Call the function that reads the selected file, and pass
    //      also the context of this function to it.
    //
    process_uploaded_file(data);

});

//
//  React when the user wants to upload the file.
//
$("#upload").on("click", function(event) {

    //
    //  1.  Prevent the the default form actions;
    //
    event.preventDefault();

    //
    //  2.  Switch the UI to represent the right state.
    //
    disable_ui(true);

    //
    //  3.  All the data passed around the promise chain.
    //
    let container = {
        //
        //  We hold the email stripped of all the not cool chars.
        //
        email_to_sanitized: '',
        //
        //  The email of who dropped the package.
        //
        email_from: $("#email_from").val(),
        //
        //  The email to whome the file is intended to.
        //
        email_to: '',
        //
        //  A random Nr used to make sure we have a unique file name.
        //
        random: Math.floor(Math.random() * Math.floor(10000)),
        //
        //  Upload ID for the Multipart Upload
        //
        upload_id: '',
        //
        //  The array which will hold starting and ending points of chunks
        //  
        chunk_array: [],
        //
        //  The array which will hold chunks that are failed while uploading
        // 
        failed_chunk_array: []
    }

    //
    //  ->  Start the promise.
    //
    prepare_the_data(container)
        .then(function(container) {
            
            return create_chunks(container);

        }).then(function(container) {

            return check_if_user_exists(container);

        }).then(function(container) {

            return create_upload(container);

        }).then(function(container) {

            return start_multipart_upload(container);

        }).then(function(container) {

            return upload_errors(container);

        }).then(function(container) {
     
            return complete_multipart_upload(container);

        }).then(function(container) {

            disable_ui(false);

        }).catch(function(error) {

            console.error(error);

            disable_ui(false);
            abort_multipart_upload(container);
            
        })
        
});

//
//  Query to see if the email provided exists in the file can be sent.
//
function prepare_the_data(container)
{
    return new Promise(function(resolve, reject) {

        console.info('prepare_the_data');

        //
        //  1.  Get the email entered in the input form.
        //
        let email_raw = $("#email_to").val();

        //
        //  2. Sanitize the email for the S3 query.
        //
        container.email_to_sanitized = email_raw.replace(/[^a-zA-Z0-9]/g, "_");

        //
        //  ->  Move to the next promise.
        //
        return resolve(container);

    });
}

//
//  A function to create chunks array, which is an array made of starting and ending
//  bytes of individual chunks.
//
function create_chunks(container)
{
    return new Promise(function(resolve,reject) {

        if(!file_size)
        {
            return reject(new Error('File Not Defined'))
        }

        console.info('create_chunks');

        //
        //  1.  Initialize part number and increment it on each for loop,
        //  then assign to the chunk.
        //
        let part_num = 1;
        
        //
        //  2.  Create a for loop to initialize starting and ending points of chunks
        //
        for(let range_start = 0; range_start < file_size; range_start += chunk_size)
        {   
            //
            //  1.  File will be read from range_start to end variable,
            //      but at the end range_start+chunk_size might be more than
            //      the actual file size, so I set the end variable to the
            //      minimum(range_start+chunk_size,file_size).
            //
            let end = Math.min(range_start + chunk_size, file_size);
            
            //
            //  2.  Push the chunk info to the chunk_array object in container
            //
            container.chunk_array.push({start:range_start,end:end,part_number:part_num});
            
            //
            //  3.  Increment the part number by one each loop
            //
            ++part_num;
        };

        //
        //  ->  Move to the next chain.
        //
        return resolve(container);
    
    });

}

//
//  Query S3 to see if the email provided exists in the file can be sent.
//
function check_if_user_exists(container)
{
    return new Promise(function(resolve, reject) {

        console.info('check_if_user_exists');

        //
        //  1.  Crete the SQL query.
        //
        let sql = 'SELECT * FROM S3Object[*].' + container.email_to_sanitized;

        //
        //  1.  Prepare the S3 query.
        //
        let params = {
            Bucket: '{{S3_BUCKET_FRONT_PORCH_DATABASE}}',
            Key: 'emails.json',
            Expression: sql,
            ExpressionType: "SQL",
            InputSerialization: {
                CompressionType: "NONE",
                JSON: {
                    Type: "DOCUMENT"
                }
            },
            OutputSerialization: {
                JSON: {
                    RecordDelimiter: ','
                }
            }
        };

        //
        //  ->  Execute the query.
        //
        s3.selectObjectContent(params, function(error, data) {

            //
            //  1.  Check for internal Errors.
            //
            if(error)
            {
                console.info(params);
                return reject(error);
            }

            //
            //  2.  Loop over the query result.
            //
            data.Payload.forEach(function(event) {

                //
                //  1.  Only react to Records results.
                //
                if(event.Records)
                {
                    //
                    //  1.  Convert the buffer in to a string.
                    //
                    let raw_result = array_buffer_to_string(event.Records.Payload);

                    //
                    //  2.  Remove the delimiter that AWS enforces on us.
                    //
                    let nodelimiter_result = raw_result.split(',')[0];

                    //
                    //  3.  Convert JSON in to JS
                    //
                    let result = JSON.parse(nodelimiter_result)

                    //
                    //  4.  If nothing came back from the query we don't
                    //      allow the upload process.
                    if(!result['_1'])
                    {
                        return reject(new Error("Recipient does not exists."))
                    }

                    //
                    //  5.  Save the real email to be used in S3 Key path.
                    //
                    container.email_to = result['_1'];

                    //
                    //  ->  Move to the next promise.
                    //
                    return resolve(container);
                }

            })

        });

    });
}

//
//  Tell AWS that we want to start a Multipart upload process, and we want
//  back the ID so we can send all the small chunks and AWS will know how to
//  put them back together.
//
function create_upload(container)
{
    return new Promise(function(resolve, reject) {

    console.info('create_upload');

    //
    //  1.  Create the S3 object key.
    //
    let key = container.email_to
            + '/'
            + container.email_from
            + '/'
            + container.random
            + '-'
            + file_name;

    //
    //  2.  Prepare multipart query.
    //
    let params = {
        Bucket: '{{S3_BUCKET_FRONT_PORCH_UPLOADS}}',
        Key: key,
        ContentType: file.type
    };

    //
    //  3.  Call createMultipartUpload function for S3 to know that this will
    //      be a MP Upload and start the process.
    //
    s3.createMultipartUpload(params, function(error, data) {

        //
        //  1.  Check for internal Errors.
        //
        if(error)
        {
            console.info(params);
            return reject(error);
        }

        //
        //  2.  If the request is successfull and data came through,
        //      resolve with the key from the container and upload_id
        //      key is returned for the simplicity, rather than the container.
        //
        if(data)
        {
            console.info('The upload ID for the process is,' + data['UploadId']);
            container.upload_id = data['UploadId'];
            //
            //  1.  Set global upload_id variable to access it from abort_multipart_upload function
            //
            upload_id = data['UploadId'];
            return resolve(container)
        }
    });

})};


//
//  A function to separate the file to parts and send to S3 sequentailly.
//
function start_multipart_upload(container)
{
    return new Promise(async function(resolve,reject){
        //
        //  1.  Create the S3 object key.
        //
        let key = container.email_to
                + '/'
                + container.email_from
                + '/'
                + container.random
                + '-'
                + file_name;

        //
        //  2.  array to hold all the promises returned from upload_part
        //  this Promise will resolve when all of them has returned some value.
        //
        let promise_array = []

        //
        //
        //
        container.chunk_array.forEach(function(chunk) {

            //
            //  1.  Create part parameters
            //
            let part_params = {
                Body: file.slice(chunk.start, chunk.end),
                Bucket: '{{S3_BUCKET_FRONT_PORCH_UPLOADS}}',
                Key: key,
                PartNumber: chunk.part_number,
                UploadId: container.upload_id
            };

            //
            //  2. Upload the part with tryNumber initialized at 0h
            //
            let promise = upload_part(container, part_params, chunk);

            //
            //  3. Add the promise to promise_array
            //
            promise_array.push(promise);

        });
        
        //
        //  3.  Resolve this promise when every part upload has returned,
        //      What is returned from this promises will be only the parts that are failed 
        //      to upload.
        //
        Promise.all(promise_array)
            .then(function(failed_ones) {

                //
                //  1.  Remove successful ones and only take failed uploads
                //
                failed_ones.forEach(function(element) {

                    if(element != true)
                    {
                        container.failed_chunk_array.push(element);
                    }

                })

                //
                //
                //
                return resolve(container);

            });
    });
}

//
//  A function to upload failed chunks and try till every part is uploaded.
//  This will be a recursive function which would just call itself again till 
//  failed_chunk_array length is zero.
//
function upload_errors(container)
{
    return new Promise(async function(resolve,reject) {

        //
        //  1.  Create the S3 object key.
        //
        let key = container.email_to
                + '/'
                + container.email_from
                + '/'
                + container.random
                + '-'
                + file_name;

        //
        //
        //
        while(container.failed_chunk_array.length > 0)
        {
            //
            //  1.  Upload failed chunks again
            //
            let failed_ones = await upload_chunk_array(container,container.failed_chunk_array);
            
            //
            //  2.  Initialize failed_chunk_array again so that we don't just keep pushing 
            //  same parts.
            //
            container.failed_chunk_array = [];

            //
            //  3.  Push only those that are failed again.
            //
            failed_ones.forEach(function(element) {

                if(element != true)
                {
                    container.failed_chunk_array.push(element);
                }

            })
        }
        
        //
        //
        //
        return resolve(container)

    });
}

//
// Function the complete the upload and tract time taken.
//
function complete_multipart_upload(container)
{
    return new Promise(function(resolve, reject){

        //
        //  1.  Create the S3 object key.
        //
        let key = container.email_to
                + '/'
                + container.email_from
                + '/'
                + container.random
                + '-'
                + file_name;

        //
        //  2.  Create the parameters to complete multipart upload.
        //
        let params = {
            Bucket: '{{S3_BUCKET_FRONT_PORCH_UPLOADS}}',
            Key: key,
            MultipartUpload: parts,
            UploadId: container.upload_id
        };

        //
        // 3. Call complete_multipart_upload function
        //
        s3.completeMultipartUpload(params, function(error, data) {

            //
            //  1.  Check for internal Errors.
            //
            if(error)
            {
                console.info(params);
                return reject(error);
            }

            //
            //  2.  If the request is successfull and data came through,
            //      calculate the total time taken in uploading process.
            //
            if (data)
            {
                let delta = (new Date() - start_time) / 1000;

                resolve(container)
            }
        });
    });
}

//
//  A function to abort upload so that server doesn't get populated with unfinished
//  multipart upload files
//
function abort_multipart_upload(container)
{
    //
    //  1.  Create the S3 object key.
    //
    let key = container.email_to
            + '/'
            + container.email_from
            + '/'
            + container.random
            + '-'
            + file_name;

    //
    //  2.  Create params to abort process, upload_id is gotten from global variable
    //
    let params = {
        Bucket: '{{S3_BUCKET_FRONT_PORCH_UPLOADS}}', 
        Key: key, 
        UploadId: container.upload_id
    };

    //
    //  3.  Call s3 function.
    //
    s3.abortMultipartUpload(params, function(err, data) {
        
        //
        //  1.  Check for internal Errors.
        //
        if(error)
        {
            console.info(params);
            return reject(error);
        }
    
        console.log('Successfully cancelled the upload process.');   
        
    });
}

//	 ______  _    _  _   _   _____  _______  _____  ____   _   _   _____
//	|  ____|| |  | || \ | | / ____||__   __||_   _|/ __ \ | \ | | / ____|
//	| |__   | |  | ||  \| || |        | |     | | | |  | ||  \| || (___
//	|  __|  | |  | || . ` || |        | |     | | | |  | || . ` | \___ \
//	| |     | |__| || |\  || |____    | |    _| |_| |__| || |\  | ____) |
//	|_|      \____/ |_| \_| \_____|   |_|   |_____|\____/ |_| \_||_____/
//

//
//  A Function to be called again and again while uploading chunks,
//  takes the chunks array as a parameter. 
//
function upload_chunk_array(container, chunk_array)
{
    return new Promise(async function(resolve,reject) {

        //
        //  1.  Create the S3 object key.
        //
        let key = container.email_to
                + '/'
                + container.email_from
                + '/'
                + container.random
                + '-'
                + file_name;

        //
        //  2.  array to hold all the promises returned from upload_part
        //  this Promise will resolve when all of them has returned some value.
        //
        let promise_array = []

        //
        //
        //
        chunk_array.forEach(function(chunk) {
            
            //
            //  1.  Create part parameters
            //
            let part_params = {
                Body: file.slice(chunk.start, chunk.end),
                Bucket: '{{S3_BUCKET_FRONT_PORCH_UPLOADS}}',
                Key: key,
                PartNumber: chunk.part_number,
                UploadId: container.upload_id
            };
            
            //
            // 2. Upload the part with tryNumber initialized at 0h
            //
            let promise = upload_part(container, part_params, chunk);

            //
            // 3. Add the promise to promise_array
            //
            promise_array.push(promise);

        });
        
        //
        //  3.  Resolve this promise when every part upload has returned,
        //  What is returned from this promises will be only the parts that are failed 
        //  to upload.
        //
        let failed_ones = await Promise.all(promise_array);

        //
        //
        //
        return resolve(failed_ones);

    });
}

//
//  A Function to upload a file slice,
//  returns a dictionary with ETag and PartNumber if
//  succeeds. This function will be called for individual parts
//  iteratively.    
//
function upload_part(container, part_params,chunk)
{      
    return new Promise(function(resolve,reject) {

        //
        //  1.  Create the S3 object key.
        // 
        let key = container.email_to
                + '/'
                + container.email_from
                + '/'
                + container.random
                + '-'
                + file_name;

        //
        //  2.  Create parameters for the s3.upload_part function
        //
        let params = {
            Bucket: '{{S3_BUCKET_FRONT_PORCH_UPLOADS}}',
            Key: key,
            Upload_id: container.upload_id
        };

        //
        //  3.  Call upload_part function with s3
        //
        let request = s3.uploadPart(part_params, function(error, data) {

            //
            //  1.  If error is returned from the function,
            //      Recursively, call the function again till we reach the maximum
            //      upload tries.
            //
            if(error)
            {
                //
                //  1.  Return the part along with its status
                //
                console.error(params);
                return resolve(chunk);
                
            }

            if(data)
            {   
                //
                //  1.  Push information of the uploaded part to parts array,
                //      ETag is returned after the process within data parameter,
                //      which is unique for each part
                //      PartNumber is given in the function parameters as well which
                //      defines the order of parts.
                //
                parts['Parts'][part_params.PartNumber-1] = {
                    ETag: data.ETag,
                    PartNumber: Number(part_params.PartNumber)
                };

                //
                //  2.  Increase the uploaded_yet parameter by body size.
                //
                uploaded_yet += part_params.Body.size;

                //
                //  3.
                //
                let ui_data = {
                    uploaded_yet: uploaded_yet
                };

                //
                //  4.  Refresh the UI with new information
                //
                refresh_ui(ui_data);

                //
                //  5.  Decrease the number of parts left
                //
                --parts_left;

                //
                //
                //
                return resolve(true);
            }
        });
    });
}

//
//  A function to refresh the UI everytime a new upload is made
//
function refresh_ui(data)
{
    //
    //  1.  If uploaded_yet parameter is given inside function parameter data.
    //
    if(data.uploaded_yet)
    {
        //
        //  1.  Calculate the percentage of upload, by dividing the uploaded
        //      size to total size.
        //
        let percentage = parseFloat(uploaded_yet)*100/(parseFloat(file_size));

        //
        //  2.  Round the result to 2 floating points and show it.
        //
        percentage = percentage.toFixed(2);

        //
        //  3.  Calculate the time passed, then get the speed by dividing
        //      uploaded size by the time passed
        //
        let curr_time = new Date(); // convert to seconds
        let time_passed = parseFloat(curr_time / 1000) - parseFloat(start_time / 1000);
        let speed = uploaded_yet / time_passed;

        //
        //  4.  
        //
        speed = speed.toFixed(2);

        //
        //  5.  Calculate the time left by dividing the total file_size by
        //      speed of the upload.
        //
        let time_left = Math.round((file_size-uploaded_yet) / speed);

        //
        //  6.  Set and show the calculated information.
        //
        $('#percentage').text(percentage);
        $('#speed').text(speed);
        $('#data_sent').text(uploaded_yet);
        $('#time_left').text(time_left);
    }
}

//   _    _   ______   _        _____    ______   _____     _____
//  | |  | | |  ____| | |      |  __ \  |  ____| |  __ \   / ____|
//  | |__| | | |__    | |      | |__) | | |__    | |__) | | (___
//  |  __  | |  __|   | |      |  ___/  |  __|   |  _  /   \___ \
//  | |  | | | |____  | |____  | |      | |____  | | \ \   ____) |
//  |_|  |_| |______| |______| |_|      |______| |_|  \_\ |_____/
//

//
//  Handle the processing of a file that was draged onto the web page and 
//  dropped.
//
function process_uploaded_file(data)
{
    //
    //  1.  Whenever a new file is dragged into the application
    //      re-initialize each update-related variable
    //
    file_name = data.target.files[0].name;
    file_size = data.target.files[0].size;
    file = data.target.files[0];

    parts_left = Math.ceil(file_size / chunk_size);

    start_time = new Date();

    uploaded_yet = 0;

    parts = {
        Parts : []
    };

    //
    //  3.  Update the UI with the name of the file selected and
    //      the total file size.
    //
    $("#file-info").text(file_name);
    $("#file_size").text(file_size);
}

//
//  This functions is used to switch the UI based if a file is being uploaded
//  or not.
//
function disable_ui(uploading) {

    if(uploading)
    {
        $("#upload-spinner").show();
        $("#upload-text").text("Uploading");
        $("#upload").prop("disabled", true);
    }

    if(!uploading)
    {
        $("#upload-spinner").hide();
        $("#upload-text").text("Upload");
        $("#upload").attr("disabled", false);
    }
}

//
//  DRAG & DROP
//

//
//  React when a file get dragged on the page.
//
$(document).on('dragenter', function(event) {

    event.preventDefault();
    event.stopPropagation();

});

//
//  React when the file is dragged over the area.
//
$(document).on('dragover', function(event) {

    event.preventDefault();
    event.stopPropagation();

});

//
//  React when the file gets released on the page.
//
$(document).on('drop', function(event) {

    //
    //  1.  Prevent the default drop action.
    //
    event.preventDefault();
    event.stopPropagation();

    //
    //  2.  Get the file dropped.
    //
    files = {
        target: {
            files: event.originalEvent.dataTransfer.files
        }
    }

    //
    //  1.  Call the function that reads the selected file, and pass
    //      also the context of this function to it.
    //
    process_uploaded_file(files);

});

</script>
