<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input id="email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
</div>

<div class="custom-file">
    <input id="profile_photo" type="file" class="custom-file-input" accept="image/png,image/jpeg" required>
    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
</div>

<p>Sent <span id="data_sent"></span> out of <span id="file_size"></span>, which is <span id="percentage"></span>%</p>

<hr>

<button id="upload" class="btn btn-lg btn-primary btn-block" type="submit">Save</button>

<script>

//
//  Variables used by S3.
//
let file_name = '';
let file_blob = '';

//
//  Grab the UI elements used to show the user the progress of the upload.
//
let ui_data_sent = $("#data_sent");
let ui_file_size = $("#file_size");
let ui_percentage = $("#percentage");

//
//  React to the input file field, and save the file reference.
//
$("input:file").change(function(data) {

    //
    //  1.  Allow us to read files from the users disk
    //
    let reader = new FileReader();

    //
    //  2.  Get the selected image from file unloader and set it to cropper
    //      to crop it
    //
    reader.onload = function(file) {

        //
        //  1.  Save the B64 file blob.
        //
        file_blob = base64_to_blob(file.target.result);

        console.log("Reference saved.");

    }

    //
    //  3.  Attach the selected file to the FileReader object which will
    //      subsequently call .onload().
    //
    reader.readAsDataURL(this.files[0]);

    //
    //  4.  Save the file name.
    //
    file_name = data.target.files[0].name;

});

//
//  React when the user wants to upload the file.
//
$("#upload").on('click', function(event) {

    console.info('Uploading process starting.');

    //
    //
    //
    let container = {}

    //
    //
    //
    check_if_user_exists(container)
        .then(function(container) {

            return upload_object(container);

        }).then(function(container) {

            console.info('Uploading process finished.');

        }).catch(function(error) {

            console.error(error);

        })


});

//
//  Query to see if the email provided exists in the file can be sent.
//
function check_if_user_exists(container)
{
    return new Promise(function(resolve, reject) {

        //
        //
        //
        let params = {
            Bucket: 'front-poerch-emails',
            Key: 'emails.json',
            Expression: 'SELECT * FROM S3Object[*].david',
            ExpressionType: "SQL",
            InputSerialization: {
                CompressionType: "NONE",
                JSON: {
                    Type: "DOCUMENT"
                }
            },
            OutputSerialization: {
                JSON: {
                    RecordDelimiter: ','
                }
            }
        };

        //
        //
        //
        s3.selectObjectContent(params, function(error, data) {

            if(error)
            {
                console.info(params);
                return reject(error);
            }

            //
            //
            //
            var events = data.Payload;

            //
            //
            //
            events.forEach(function(event) {

                if(event.Records)
                {
                    console.log("Records: ", event.Records);

                    //
                    //  ->  Move to the next promise.
                    //
                    return resolve(container);
                }

                if(event.Stats)
                {
                    console.log("Stats: ", event.Stats);
                }

                if(event.Progress)
                {
                    console.log("Progress: ", event.Progress);
                }

                if(event.Cont)
                {
                    console.log("Count: ", event.Cont);
                }

                if(event.End)
                {
                    console.log("End: ", event.End);
                }

            })

        });



    })
}

//
//
//
function upload_object(container)
{
    return new Promise(function(resolve, reject) {

        //
        //  1.  Create the path for the S3 object.
        //
        let key = $("#email").val() + "/" + file_name;

        //
        //  2.  Prepare the object to be sent
        //
        let request = s3.putObject({
            Bucket: '{{S3_BUCKET_FRONT_PORCH_UPLOADS}}',
            Key: key,
            Body: file_blob
        });

        //
        //  3.  Add a listener to react every time there is a progress
        //      update so we know how much of the file was sent.
        //
        request.on('httpUploadProgress', function(progress) {

            //
            //  Calculate the percentage by making sure that
            //
            //      - the value is from 0 to 100, and not the other way around.
            //      - the result is a positive number.
            //
            let raw_percentage = (((progress.total - progress.loaded) / progress.total * 100) - 100) * -1

            //
            //  Convert the double in to an integer.
            //
            let percentage = Math.floor(raw_percentage)

            //
            //  Update the UI.
            //
            ui_data_sent.text(progress.loaded);
            ui_file_size.text(progress.total);
            ui_percentage.text(percentage);

        });

        //
        //  x.  React on errors.
        //
        request.on('error', function(error) {

            console.error(error);

            return reject(error);

        });

        //
        //  3.  Send the object.
        //
        request.send(function(response) {

            //
            //  ->  Move to the next promise.
            //
            return resolve(container);

        });

    })
}

</script>
