<div class="input-group mb-3">

    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
    </div>

    <input id="email_from" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">

</div>

<div class="input-group mb-3">

    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
    </div>

    <input id="email_to" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">

</div>

<div class="custom-file">

    <input id="profile_photo" type="file" class="custom-file-input" required>

    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>

</div>

<p>Sent <span id="data_sent"></span> out of <span id="file_size"></span>, which is <span id="percentage"></span>%</p>

<p>Upload speed: <span id="speed"></span>/Bps</p>

<p>Time left: <span id="time_left"></span>/s</p>

<button id="upload" class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>

<script>

//
//  Variables used by S3.
//
let file_name = '';
let file_blob = '';

//
//  Grab the UI elements used to show the user the progress of the upload.
//
let ui_data_sent = $("#data_sent");
let ui_file_size = $("#file_size");
let ui_percentage = $("#percentage");
let ui_speed = $("#speed");
let ui_time_left = $("#time_left");

//
//  React to the input file field, and save the file reference.
//
$("input:file").change(function(data) {

    //
    //  1.  Allow us to read files from the users disk
    //
    let reader = new FileReader();

    //
    //  2.  Get the selected image from file unloader and set it to cropper
    //      to crop it
    //
    reader.onload = function(file) {

        //
        //  1.  Save the B64 file blob.
        //
        file_blob = base64_to_blob(file.target.result);

        console.log("File saved in to memory.");

    }

    //
    //  3.  Attach the selected file to the FileReader object which will
    //      subsequently call .onload().
    //
    reader.readAsDataURL(this.files[0]);

    //
    //  4.  Save the file name.
    //
    file_name = data.target.files[0].name;

});

//
//  React when the user wants to upload the file.
//
$("#upload").on('click', function(event) {

    //
    //  1.  All the data passed around the promise chain.
    //
    let container = {
        //
        //  We hold the email stripped of all the not cool chars.
        //
        email_to_sanitized: '',
        //
        //  The email of who dropped the package.
        //
        email_from: $("#email_from").val(),
        //
        //  The email to whome the file is intended to.
        //
        email_to: '',
        //
        //  A random Nr used to make sure we have a unique file name.
        //
        random: Math.floor(Math.random() * Math.floor(10000))
    }

    //
    //  ->  Start the promise.
    //
    prepare_the_data(container)
        .then(function(container) {

            return check_if_user_exists(container);

        }).then(function(container) {

            return upload_object(container);

        }).then(function(container) {

            console.info('Uploading process finished.');

        }).catch(function(error) {

            console.error(error);

        })


});

//
//  Query to see if the email provided exists in the file can be sent.
//
function prepare_the_data(container)
{
    return new Promise(function(resolve, reject) {

        console.info('prepare_the_data');

        //
        //  1.  Get the email entered in the input form.
        //
        let email_raw = $("#email_to").val();

        //
        //  2. Sanitize the email for the S3 query.
        //
        container.email_to_sanitized = email_raw.replace(/[^a-zA-Z0-9]/g, "_");

        //
        //  ->  Move to the next promise.
        //
        return resolve(container);


    })
}

//
//  Query S3 to see if the email provided exists in the file can be sent.
//
function check_if_user_exists(container)
{
    return new Promise(function(resolve, reject) {

        console.info('check_if_user_exists');

        //
        //  1.  Crete the SQL query.
        //
        let sql = 'SELECT * FROM S3Object[*].' + container.email_to_sanitized;

        //
        //  1.  Prepare the S3 query.
        //
        let params = {
            Bucket: '{{S3_BUCKET_FRONT_PORCH_DATABASE}}',
            Key: 'emails.json',
            Expression: sql,
            ExpressionType: "SQL",
            InputSerialization: {
                CompressionType: "NONE",
                JSON: {
                    Type: "DOCUMENT"
                }
            },
            OutputSerialization: {
                JSON: {
                    RecordDelimiter: ','
                }
            }
        };

        //
        //  ->  Execute the query.
        //
        s3.selectObjectContent(params, function(error, data) {

            //
            //  1.  Check for internal Errors.
            //
            if(error)
            {
                console.info(params);
                return reject(error);
            }

            //
            //  2.  Loop over the query result.
            //
            data.Payload.forEach(function(event) {

                //
                //  1.  Only react to Records results.
                //
                if(event.Records)
                {
                    //
                    //  1.  Convert the buffer in to a string.
                    //
                    let raw_result = array_buffer_to_string(event.Records.Payload);

                    //
                    //  2.  Remove the delimiter that AWS enforces on us.
                    //
                    let nodelimiter_result = raw_result.split(',')[0];

                    //
                    //  3.  Convert JSON in to JS
                    //
                    let result = JSON.parse(nodelimiter_result)

                    //
                    //  4.  If nothing came back from the query we don't
                    //      allow the upload process.
                    //
                    if(!result['_1'])
                    {
                        return reject(new Error("Recipient does not exists."))
                    }

                    //
                    //  5.  Save the real email to be used in S3 Key path.
                    //
                    container.email_to = result['_1'];

                    //
                    //  ->  Move to the next promise.
                    //
                    return resolve(container);
                }

            })

        });

    })
}

//
//  Get the selected file and upload it to S3.
//
function upload_object(container)
{
    return new Promise(function(resolve, reject) {

        console.info('upload_object');

        //
        //  1.  Get the starting time stamp used to calculate the speed
        //      of the upload process.
        //
        let start_time = new Date().getTime();

        //
        //  2.  Create the path for the S3 object.
        //
        let key = container.email_to
                + "/"
                + container.email_from
                + "/"
                + container.random
                + '-'
                + file_name;

        //
        //  3.  Prepare the object to be sent
        //
        let request = s3.putObject({
            Bucket: '{{S3_BUCKET_FRONT_PORCH_UPLOADS}}',
            Key: key,
            Body: file_blob
        });

        //
        //  4.  Add a listener to react every time there is a progress
        //      update so we know how much of the file was sent.
        //
        request.on('httpUploadProgress', function(progress) {

            //
            //  1.  Calculate the percentage by making sure that
            //
            //      - the value is from 0 to 100, and not the other way around.
            //      - the result is a positive number.
            //
            let raw_percentage = (((progress.total - progress.loaded) / progress.total * 100) - 100) * -1

            //
            //  2.  Convert the double in to an integer.
            //
            let percentage = Math.floor(raw_percentage)

            //
            //  3.  Get the time stamp used to calculate the upload speed, so
            //      with this we know how much time passed from the point
            //      we started.
            //
            end_time = new Date().getTime();

            //
            //  4.  Calculate how much time passed in seconds.
            //
            let duration = (end_time - start_time) / 1000

            //
            //  5.  Convert Bytes in to Bits.
            //
            bits = progress.loaded * 8;

            //
            //  6.  Get the upload speed.
            //
            let speed_bps = Math.round((bits / duration) / 8);

            //
            //  7.  Calculate the time left till the upload is done.
            //
            let time_left = Math.round((progress.total - progress.loaded) / speed_bps);

            //
            //  Update the UI.
            //
            ui_data_sent.text(Number(progress.loaded).toLocaleString());
            ui_file_size.text(Number(progress.total).toLocaleString());
            ui_percentage.text(percentage);
            ui_speed.text(Number(speed_bps).toLocaleString());
            ui_time_left.text(time_left);

        });

        //
        //  5.  React on errors.
        //
        request.on('error', function(error) {

            console.error(error);

            return reject(error);

        });

        //
        //  6.  Wait until the upload process is done.
        //
        request.send(function(response) {

            //
            //  ->  Move to the next promise.
            //
            return resolve(container);

        });

    })
}

</script>
